
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <title>
      {% block title %}GENRIC TITLE{% endblock %}

    </title>
  </head>
  <body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index')}}">About Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('blog')}}">Blog</a>
        </li>


        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('topics')}}">Topics</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/topics" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('intro')}}">Introduction</a></li>
            <li><a class="dropdown-item" href="/interpreter">Interpreter</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/oop">OOP</a></li>
            <li><a class="dropdown-item" href="/datatypes">Data types</a></li>
            <li><a class="dropdown-item" href="/function">Function</a></li>
            <li><a class="dropdown-item" href="/class">Class</a></li>
            <li><a class="dropdown-item" href="/inheritance">Inheritance</a></li>
            <li><a class="dropdown-item" href="/lambda">Lambda</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/syntax">Syntax</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/conditionals">Conditionals</a></li>
            <li><a class="dropdown-item" href="/loops">Loops</a></li>
            <li><a class="dropdown-item" href="/nesting">Nesting</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/string">String</a></li>
            <li><a class="dropdown-item" href="/regex">Regex</a></li>
            <li><a class="dropdown-item" href="/data_collections">Data collections</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/html">HTML</a></li>
            <li><a class="dropdown-item" href="/json">Json</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/github">Github</a></li>
            <li><a class="dropdown-item" href="/git">Git</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/sql">SQL</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/tkinter">Tkinter</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/modules">Modules</a></li>
            <li><a class="dropdown-item" href="/tkinter">Tkinter</a></li>
          </ul>
        </li>

          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('programs')}}">Programs</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ url_for('programs')}}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('this_page')}}">This Page (Flask)</a></li>
            <li><a class="dropdown-item" href="/calculator">Calculator</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/p3">Program 3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('subscribe')}}">Subscribe</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>