
{% extends 'base.html' %}

{% block title %}Cameel intro{% endblock %}

  {% block content %}

    <div class="container">
        <br><br>
        <h1>
            Introduction to python
        </h1>
      <br><br>
      <h4>
          Most of tutorials start from teaching syntax. I'll try a bit different approach as I feel like it would have been easier for me to learn it from a different perspective.<br>
          I am not pretending to be any good or even moderate enough to be a tutor to anybody at this point now, but want to share my day-to-day learning process.<br>
          Hope it can be interesting or helpful for some of you who are trying to learn programming but are lacking of motivation, consistency or a bit different approach to the field.<br>
          If you know better than me, don't hesitate to share your suggestions or thoughts. My email you can find under "Subscribe".
      </h4>

      {% endblock %}
