
{% extends 'base.html' %}

{% block title %}This page{% endblock %}

{% block content %}

    <div class="container">
        <br><br>
        <h1>This Page</h1>
        <br><br>
        <h3>
          <strong>Flask</strong> is a simplified library that can be very useful in creating simple pages quickly.<br>
            This page has been created in Flask so it will be my example of how to use Flask, but remember, knowing basic Python syntax and Flask is not enough to create pages.
            It requires also basic knowledge of Jinja(if page is to be made with Flask), CSS, JS, HTML. Creating active pages will require often also SQL and other technologies.
            There are shortcuts to most of complicated things, but to create a web you still need to combine different skills.<br>
            I will try to cover whatever is necessary to create page like this, starting with <strong>Flask</strong>.
        </h3>

{% endblock %}
